<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Very low disk space</string>
		<key>eventTypes</key>
		<array>
			<string>com.apple.disks.space.verylow</string>
		</array>
		<key>criterion</key>
		<array>
			<dict>
				<key>operator</key>
				<string>LessThan</string>
				<key>operands</key>
				<array>
					<string>${${event:volumeName}-LastEmailTime}</string>
					<string>${builtin:now-24:00:00.00}</string>
				</array>
			</dict>
		</array>
		<key>variables</key>
		<dict>
			<key>${event:volumeName}-LastEmailTime</key>
			<string>${builtin:now}</string>
		</dict>
		<key>actions</key>
		<array>
			<dict>
				<key>subject</key>
				<string>The volume ${event:volumeName} is full</string>
				<key>message</key>
				<string>The volume ${event:volumeName} has only ${event:freeBytes%m} of ${event:totalBytes%m} free. Free up additional space on this volume, delete temporary files or back up and remove old data. Review your settings for Time Machine in System Preferences. If "Create local snapshots" is selected, this may also be consuming space. If the volume runs out of space completely then some services on your Mac may stop working properly until more space is made available.</string>
				<key>recipientAddresses</key>
				<array>
					<string>${global:notificationContacts}</string>
				</array>
				<key>localizationBundlePath</key>
				<string>/System/Library/EventHandlers/com.apple.disks.space.verylow.bundle</string>
				<key>localizationTable</key>
				<string>Localizable</string>
				<key>type</key>
				<string>SendEmail</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
